<body>

  <header class="header">
    <nav id="menu-h">
      <a class="logo" href="/">Astro</a>
      <ul class="icone">
        <button class="menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-justify"
            style="padding: 0" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/ferramentas">Ferramentas</a></li>
        <li><a href="">Meu perfil</a></li>
      </ul>
    </nav>
  </header>

  <div class="geral">
    
        <div class="capa">
          <i class="left"></i>
          <div class="menu"></div>
          <h1>Diário de bordo</h1>
        </div>

        <div>
          <div class="itens_marcacao">
              <label class="mb-0">Título: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Titulo">
              <label class="mb-0">Subtitulo: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Subtitulo">
              <div>
                <div>
                  <label class="mb-0">Capa:</label>
                </div>
                <input  class="mb-0" type="file" accept="image/*"/>
              </div>

              <label class="mb-0">Instituição: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Instituição">
          </div>
       <button type="submit" class="btn-login"(click)="cadastrarChecklist()">Salvar</button>
      </div>
  </div>
  <div>
  </div>


  <div class="registro">
    
    <div class="capa">
      <i class="left"></i>
      <div class="menu"></div>
      <h1>Página 2</h1>
    </div>

    <div>
      <div class="itens_marcacao">
          <label class="mb-0">Título: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Titulo">
          <label class="mb-0">data: </label> <input  type="date" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Data">
          <label class="mb-0">Registro: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Registro">
          <div>
            <div>
              <label class="mb-0">Capa:</label>
            </div>
            <input  class="mb-0" type="file" accept="image/*"/>
          </div>

         
          <label class="mb-0">Instituição: </label> <input  type="text" id="input" name="texto" [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Instituição">
      </div>
   <button type="submit" class="btn-login"(click)="cadastrarChecklist()">Salvar</button>
  </div>
</div>
<div>
</div>

</body>
