<body>

  <header class="header">
    <nav id="menu-h">
      <a class="logo" href="/">Astro</a>
      <ul class="icone">
        <button class="menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-justify"
            style="padding: 0" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/ferramentas">Ferramentas</a></li>
        <li><a href="">Meu perfil</a></li>
      </ul>
    </nav>
  </header>


  <div class="geral">
    
        <div class="capa">
          <i class="left"></i>
          <div class="menu"></div>
          <h1>Diário de bordo</h1>
          <div>
            <button type="button" class="botaoAdd2" (click)="openModal(template)">+</button>
          </div>
        </div>

        <div>
        <ng-template #template>
          <div>
            <div class="itens_marcacao">
              <div>
                <input  class="titulo" type="text" id="input" name="texto" [(ngModel)]="diarioDeBordo.titulocapa" placeholder="Titulo">
              </div>
      
              <div>
                <input  class="subtitulo" type="text" id="input" name="texto" [(ngModel)]="diarioDeBordo.subtitulocapa"  placeholder="Subtítulo">
              </div>
      
            <div>
              <img [src]="url"><br>
                <input type="file" name="picture__input" alt="Imagem de capa" accept="image/*" class="picture" id="picture__input" (change)="inputFileChange($event)"/>
            </div>
            
      
            <div>
              <input  class="instituicao" type="text" id="input" name="texto" [(ngModel)]="diarioDeBordo.instituicaocapa" placeholder="Instituição">
            </div>

            <button type="submit" class="btn-login" (click)="cadastrarDiario()">Salvar</button>
        </div>
        
        </div>
        </ng-template>
        </div>

        <div>
          <h1>Listagem dos registros</h1>
          </div>

        <div>
            <div>
              <input  class="titulo" type="text" id="input" name="texto" [(ngModel)]="diarioDeBordo.tituloregis" placeholder="Titulo">
            </div>

            <div>
              <input  class="titulo" type="date" id="input" name="date" [(ngModel)]="diarioDeBordo.dataregis" placeholder="Data do registro">
            </div>

            <div>
              <input  class="registro" type="text" id="input" name="registro" [(ngModel)]="diarioDeBordo.registro" placeholder="Seu registro">
            </div>

            <div>
              <img [src]="url"><br>
                <input type="file" name="picture__input" alt="Imagem de capa" accept="image/*" class="picture" id="picture__input" (change)="inputFileChange($event)"/>
            </div>

            <div>
              <input  class="integrantes" type="text" id="input" name="integrantes" [(ngModel)]="diarioDeBordo.integrantesregis" placeholder="Registro feito por:">
            </div>

            <button type="submit" class="btn-login" (click)="cadastrarDiario()">Salvar</button>

         

        </div>
  </div>
  <div>
  </div>
</body>
