<header>
    <nav class="nav">
      <a class="logo" href="/">Astro</a>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>

      <ul class="nav-list">
        <li><a href="#">Meu perfil</a></li>
      </ul>
    </nav>
  </header>

<body class="body">

  <main class="cards">

    <section class="card contact">
        <div class="icon">
            <img src="../../../assets/img/Thesis-amico.png" alt="Contact us.">
        </div>
        <h3>Meus trabalhos</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Ver mais</button>
    </section>

    <section class="card about">
        <div class="icon">
            <img src="../../../assets/img/Editorial commision-bro.png" alt="About us.">
        </div>
        <h3>Modelo em branco</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Ver mais</button>
    </section>

    <section class="card about">
        <div class="icon">
            <img src="../../../assets/img/Checklist-rafiki.png" alt="About us.">
        </div>
        <h3>Checklist</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Ver mais</button>
    </section>

    <section class="card shop">
        <div class="icon">
            <img src="../../../assets/img/Online page-rafiki.png" alt="Shop here.">
        </div>
        <h3>Modelos pré-definidos.</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Ver mais</button>
    </section>
    
</main>


</body>