.body {
    /*background-image: linear-gradient(to bottom, #EA00A3,#8C00A3, #7E00AA);*/
    background-image: linear-gradient(to bottom, #00B79D,#9F20DA, #E000D4);
    background-color: aliceblue;
    overflow: hidden; /* oculta a barra de rolagem, pois não tem necessidade na pág de login*/
 }

 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  .logo { /*nome do Astro*/
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .login{
    background: rgba(228, 219, 224, 0.5);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    width: 420px;
    height: 350px;
    padding: 35px; /* descola os inputs da borda*/
 }
 
 .login form{
    display: flex;
    width: 100%;
    flex-direction: column; /*com isso o input fica um abaixo do outro*/
 }
 
 .login input{
    margin-top: 10px; /*espaçamento dos inputs*/
    background-color:rgb(226, 225, 225);
    /*color:black;*/ /*caso queira mudar a cor do input que o user coloca*/
    border: none; /*remove a borda padrão*/
    height: 45px; /*grossura dos campos*/
    outline: none; /*tira borda quando clica no campo*/
    border-radius: 10px; /*add borda arredondada*/
 }
 .login img{
    width: 65px;
    height: auto;
 }

  /*input::placeholder{
    color:aliceblue;
    font-size: 14px;
 }*/ /*caso queira mudar a cor do pacleholder*/
 
 .link-conta{
    color: rgb(24, 85, 216);
 }
 .termos{
    font-size: 15px;
 }
 .link-termos{
    font-size: 15px;
    color: blue;
 }