<body class="body">
  
  <header>
    <nav class="nav">
      <a class="logo" href="/">Astro</a>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>

      <ul class="nav-list">
        <li><a href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Ferramentas</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

  <div class="main-login">
    <div class="left-login">
      <h1>Bem-vindo(a)! <br>Sentimos sua falta.</h1>
      <img src="../../../assets/img/foguete.svg" class="left-login-image" alt="Image-foguete">
    </div>


    <div class="right-login">

      <div class="card-login">

        <h1>Login</h1>

        <div class="social-media">
          <li class="item-social-media"><a href="#"><i class="fa-brands fa-google"></i></a></li>

          <li class="item-social-media"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>

          <li class="item-social-media"><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </div>

        <p class="descricao"> ou use sua conta de registro</p>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            <input type="text" name="usuario" placeholder="Usuário" required>
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="senha" placeholder="Senha" required>
          </label>
        </div>

        <button class="btn-login">Entrar</button>
        <p class="registro">Não possui uma conta? <a href="#">Registre-se agora</a></p>

      </div>
    </div>
  </div>


</body>