<body>
  <header>
    <nav>
      <a class="logo" href="/">Astro</a>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>

      <ul class="nav-list">
        <li><a href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Ferramentas</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

  <!-- section -> para o fundo preencher a tela toda, basicamente -->
  <div class="telas">
    <div class="login">
      <div>
        <img src="/assets/img/logo.png" />
      </div>

      <form method="POST">
        <!-- autofocus -> para ficar a barrinha piscando indicando onde tem que preencher -->
        <input
          style="background: white"
          type="text"
          name="nome"
          placeholder="Nome de usuário"
          autofocus
        />
        <input
          style="background: white"
          type="email"
          name="nome"
          placeholder="Email de cadastro"
        />
        <input
          style="background: white"
          type="password"
          name="senha"
          placeholder="Sua senha"
        />

        <p class="termos">
          Li e aceito os<a class="link-termos" href="#"
            >termos de privacidade</a
          >
          <input type="checkbox" />
        </p>

        <input
          class="btn"
          type="submit"
          value="Cadastrar"
          style="color: white"
        />
      </form>
    </div>
  </div>
</body>
