.nav-list-home{
    justify-content: left;
    width: 100%;
}
.container{
    float: left;
    width: 400px;
    height: 400px;
}
.img{
    object-fit: cover;
    width: 509%;
    height: 50vh;
}
.texto-home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10vh;
}
.texto-home-cabecalho{
    position:absolute;
    margin-top: 100px;
    margin-left: 300px;
}
.container2{
    display: block;
    height: 1180px;
    background-color: #D9D9D9;
}
.nav-inferior{
    justify-content: left;
}
.img-rosto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
}
.barra-inferior{
    background-color: rgb(14, 8, 57);
}
.btn_cadastro{
    position: relative;
    margin-top: 800px;
    background-color:rgb(174, 60, 240);
    /*color:black;*/ /*caso queira mudar a cor do input que o user coloca*/
    border: none; /*remove a borda padrão*/
    width: 60px;
    height: 45px; /*grossura dos campos*/
    outline: none; /*tira borda quando clica no campo*/
    border-radius: 20px; /*add borda arredondada*/
    color: aliceblue;
}
.icon{
    background-color: rgb(194, 162, 224);
    /* object-fit: cover; */
    margin-left: 120vh;   
}
.card {

    position: relative;
    display: block;
    max-width: 100px;  
}  
.card_texto{
    margin-left: 10vh;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.texto_barra-inferior{
    color: white;
    margin-left: 80vh;
}

