<body class="body">
  
  <header>
    <nav class="nav">
      <a class="logo" href="/">Astro</a>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>

      <ul class="nav-list">
        <li><a href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Ferramentas</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

  <div class="main-login">
    <div class="left-login">
      <h1>Cadastre-se <br>e faça parte do nosso time!</h1>
      <img src="../../../assets/img/imgfuguete.svg" class="left-login-image" alt="Image-foguete">
    </div>


    <div class="right-login">

      <div class="card-login">

        <h1>Cadastro</h1>

        <div class="social-media">
          <li class="item-social-media"><a href="#"><i class="fa-brands fa-google"></i></a></li>

          <li class="item-social-media"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>

          <li class="item-social-media"><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </div>

        <p class="descricao"> ou crie uma conta</p>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            <input type="text" name="usuario" placeholder="Usuário" required>
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            <input type="email" name="email" placeholder="Email" required>
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="senha" placeholder="Senha" required>
          </label>
        </div>

        <div>
          <input type="checkbox" name="termos-politica" value="li-e-aceito"> Li e aceito os <a class="link" href="#">termos de politica de privacidade</a>
        </div>

        <button class="btn-login">Entrar</button>
        <p class="registro">Já possui uma conta? <a class=""href="/login">Entre agora</a></p>

      </div>
    </div>
  </div>


</body>