<body class="body">

  <header class="header">
    <nav id="menu-h">
      <span class="logo" >Astro</span>
      <ul class="icone">
        <button class="menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="30"
            fill="currentColor"
            class="bi bi-justify"
            style="padding: 0"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
        <li><a href="/ferramentas">Ferramentas</a></li>
            <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
      </ul>
    </nav>
  </header>

  <div class="main-user">
    <div class="left-user">
      <div class="card-user">
        
        <div class="insertImg">
          <img [src]="url"><br>
          <input type="file" accept="image/*" class="file" (change)="inputFileChange($event)" name="foto" [(ngModel)]="updateAluno.foto"/>
        </div>
        
        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Nome:
            <input name="nome" [(ngModel)]="updateAluno.nome">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Apelido:
            <input name="apelido" [(ngModel)]="updateAluno.nickname">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-lock"></i>
            Senha:
            <input name="senha" [(ngModel)]="updateAluno.senha">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Instituição:
            <input name="instituicao" [(ngModel)]="updateAluno.instituicao">
          </label>
        </div>
        
        <button class="btn-user"><a (click)="atualizar()">Salvar</a></button>
        <button class="btn-user"><a (click)="remover()"  [routerLink]="['/login']">Excluir conta</a></button>
      </div>
    </div>
  </div>

</body>
  <router-outlet></router-outlet>
