<body>

  <header class="header">
    <nav id="menu-h">
      <a class="logo" href="/">Astro</a>
      <ul class="icone">
        <button class="menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-justify"
            style="padding: 0" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/ferramentas">Ferramentas</a></li>
        <li><a href="">Meu perfil</a></li>
      </ul>
    </nav>
  </header>

  <div class="geral" id="content" #content>
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="capa">
          <i class="left"></i>
          <div class="menu"></div>
          <h1>Checklist - Controle de tarefas e atividades</h1>
          <div class="addTarefa">
            <button class="botaoAdd" (click)="onExport()">
              <i class="fa-solid fa-print"></i>
            </button>

          </div>
        </div>
      </div>
    </div>


    <div class="formatoCheck">

      <div class="row">
        <div class="col-sm-12 p-0">
          <div class="content pt-3">
            <ul id="list">

            </ul>
          </div>
        </div>
      </div>

      <div class="table-responsive" id="content" #content>
        <table class="table">

          <tr>
            <th class="columnTarefa">Tarefa</th>
            <th class="columnDesc">Descrição</th>
            <th class="columnData">Data</th>
            <th class="columnData">Ação</th>
          </tr>

        </table>
      
      <div class="container" id="content" #content></div>
      <div class="table-responsive" *ngFor="let task of check">
        <table class="table">
          <tbody>
            <tr>
              <td class="columnTarefa" name="texto">{{task.texto}}</td>
              <td class="columnDesc" name="descricao">{{task.descricao}} </td>
              <td class="columnData">&nbsp;{{task.data | date:'dd/MM/yyyy' }}</td>
              <div class="icones">
                <button class="icone" (click)="pegarDados(task.id)">
                  <i class="fa-regular fa-pen-to-square" (click)="pegarDados(task.id)"></i>&nbsp;
                </button>
                <button class="icone" (click)="remover(task.id)">
                  <i class="fa-solid fa-trash" (click)="remover(task.id)"></i>&nbsp;
                </button>
              </div>
            </tr>
          </tbody>
          
        </table>
        
      </div>
      <div>
        <div class="itens_marcacao">
          <label class="mb-0">Tarefa: </label> <input type="text" id="input" name="texto"
            [(ngModel)]="checklist.texto" class="form-control mb-1" placeholder="Tarefa">
          <label class="mb-0">Data: </label> <input type="date" id="date" class="form-control" name="date"
            [(ngModel)]="checklist.data">
        </div>

        <div>
          <label class="mb-0">Descrição: </label> <input type="text" id="descField" name="descricao"
            [(ngModel)]="checklist.descricao" class="form-control mb-2" placeholder="Descrição">
        </div>
        <button type="submit" class="btn-login" (click)="cadastrarChecklist()">Salvar</button>
      </div>
    </div>

    </div>
  </div>

</body>
