<body class="body">

    <main class="cards">
        <h1>Meus trabalhos</h1>
        <ul>
        <section class="card contact">
            <div class="icon">
                <img src="../../../assets/img/pasta-vazia.png" alt="Contact us.">
            </div>
            <h3>Meus trabalhos</h3>
            <span>Acesso a uma área que contenha todos os trabalhos nos quais vc realizou ou está realizando</span>
            <button><a href="/meusTrabalhos" target="_blank">Abrir</a></button>

        </section>
    
    </ul>
    
    <h1>Ferramentas internas</h1>
        <ul>
    
        <section class="card about">
            <div class="icon">
                <img src="../../../assets/img/docs.png" alt="About us.">
            </div>
            <h3>Modelo em branco</h3>
            <span>Acesso moldes para a realização de trabalhos escritos conforme a sua criatividade</span>
            <button><a href="/editor" target="_blank">Abrir</a></button>
        </section>
    
        <section class="card shop">
            <div class="icon">
                <img src="../../../assets/img/google-forms.png" alt="Shop here.">
            </div>
            <h3>Modelos pré-definidos.</h3>
            <span>Acesso moldes para a realização de documentos de forma mais rápida e eficiênte</span>
            <button><a href="/modeloDefinido" target="_blank">Abrir</a></button>
        </section>
    
        <section class="card contact">
            <div class="icon">
                <img src="../../../assets/img/postar.png" alt="Contact us.">
            </div>
            <h3>Fichamento</h3>
            <span>Acesso a um editor de texto de acordo com as normas da ABNT</span>
            <button><a href="/fichamento" target="_blank">Abrir</a></button>
        </section>
    
        </ul>
        <ul>
    
            <section class="card about">
                <div class="icon">
                    <img src="../../../assets/img/check-mark.png" alt="About us.">
                </div>
                <h3>Checklist</h3>
                <span>Acesso a um checklist que auxiliara no gerenciamento de tarefas</span>
                <button><a href="/checklist" target="_blank">Abrir</a></button>
            </section>
    
            <section class="card about">
                <div class="icon">
                    <img src="../../../assets/img/trello.png" alt="About us.">
                </div>
                <h3>Gerenciador de tarefas</h3>
                <span>Acesso a um checklist que auxiliara no gerenciamento de tarefas</span>
                <button><a href="/trello" target="_blank">Abrir</a></button>
            </section>
    
            <section class="card about">
                <div class="icon">
                    <img src="../../../assets/img/design-do-site.png" alt="About us.">
                </div>
                <h3>Feira Técnologica</h3>
                <span>Acesso a uma feira técnológica, com os trabalhos publicados
                    pelos veteranos</span>
                <button><a target="_blank">Abrir</a></button>
            </section>
        </ul>
    
        
        <h1>Ferramentas externas</h1>
        <ul>
        <section class="card shop">
            <div class="icon">
                <img src="../../../assets/img/meet.png" alt="Shop here.">
            </div>
            <h3>Google Meet</h3>
            <span>Use a plataforma Meet para se reunir com o seu grupo por video chamada!</span>
            <button><a href="https://meet.google.com/#" target="_blank">Abrir</a></button>
        </section>
    
        <section class="card shop">
            <div class="icon">
                <img src="../../../assets/img/adicionar.png" alt="Shop here.">
            </div>
            <h3>I love PDF</h3>
            <span>Use a plataforma I love PDF para gerenciar seus arquivos</span>
            <button><a href="https://www.ilovepdf.com/pt" target="_blank">Abrir</a></button>
        </section>
    </ul>
    
    </main>


</body>