 
 .logo { /*nome do Astro*/
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
  }
 
  nav { /* cria o menu*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: #9446c1;
    height: 8vh;
  }
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #dde2ee;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #434343;

    font-size: 16px;
}

main.cards ul {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 60px;
    height: 60px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #007bff;
    margin-bottom: 16px 0;
}

h1{
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

/* main.cards section.card.contact button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
} */

/* main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
} */

@media screen and (max-width: 760px) {
    main.cards ul {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}