<body class="body">

  <div class="main-user">
    <div class="left-user">
      <h2>Minhas informações</h2>
      <div class="card-user">
        <button class="circulo"> Foto</button>
        <div>
          <button>Enviar foto</button>
          <button>Deletar foto</button>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Email:
            <input name="email" [(ngModel)]="updateAluno.email">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Nome:
            <input name="nome" [(ngModel)]="updateAluno.nome">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Apelido:
            <input name="apelido" [(ngModel)]="updateAluno.nickname">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-lock"></i>
            Senha:
            <input name="senha" [(ngModel)]="updateAluno.senha">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Instituição:
            <input name="instituicao" [(ngModel)]="updateAluno.instituicao">
          </label>
        </div>

        <button>Salvar</button>
        <button>Editar informações</button>
        <button>Excluir conta</button>
      </div>
    </div>

    <div class="proj-user">
      <div class="card-user">
        <h6>Ver mais</h6>
      </div>
    </div>

  </div>


</body>