<body class="body">

  <div class="main-user">
    <div class="left-user">
      <div class="card-user">
        <div>
          <label class="picture" for="picture__input" tabIndex="0">
            <span class="picture__image"></span>
          </label>
          
          <input type="file" name="picture__input" id="picture__input">
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Email:
            <input name="email" [(ngModel)]="updateAluno.email">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Nome:
            <input name="nome" [(ngModel)]="updateAluno.nome">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Apelido:
            <input name="apelido" [(ngModel)]="updateAluno.nickname">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-lock"></i>
            Senha:
            <input name="senha" [(ngModel)]="updateAluno.senha">
          </label>
        </div>

        <div class="textfield">
          <label>
            <i class="fa-solid fa-user"></i>
            Instituição:
            <input name="instituicao" [(ngModel)]="updateAluno.instituicao">
          </label>
        </div>

        <button>Salvar</button>
        <button>Editar informações</button>
        <button>Excluir conta</button>
      </div>
    </div>

    <div class="proj-user">
      <div>Meus projetos</div>
    </div>

  </div>


</body>