@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden; /* oculta a barra de rolagem*/
}

body * {
    box-sizing: border-box;
}

.social-media{
    display: flex;
    list-style-type: none;
}

.item-social-media{
    border: 1px solid #d0cdcd;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align:center;
}

.item-social-media a{
    color: #000000;
}
.item-social-media:hover{
    background-color: #ffffff;
}

.main-user{
    width: 100vw;
    height: 100vh;
   /* background-image: linear-gradient(to bottom, #4990c0,#a81eab, #ede2ed);*/
    background-image: linear-gradient(to bottom, #3f5c84,#6f1470, #ede2ede2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-user{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-user > h1 {
    font-size: 3vw;
    color:rgb(255, 255, 255);
}

.left-user-image{
    width: 30vw;
}

.proj-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-user{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(255, 254, 255, 0.382);
    /*background: rgba(180, 142, 227, 0.72);*/
    backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #101010b0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > label{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(226, 225, 226);
    margin-bottom: 10px;
    
    color:black; /*caso queira mudar a cor do input que o user coloca*/
    font-size: 12pt;
    box-shadow: 0px 10px 40px #2e2c2e8f;
    outline: none;
    box-sizing: border-box;
}
.textfield > label > input{
    background-color:rgb(226, 225, 226);
    border: none;
    width: 80%;
    outline-style: none;
}

.textfield > input::placeholder{
    color: rgb(0, 0, 0);
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: rgb(14, 8, 57);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #e8eae8;

}

#picture__input {
    display: none;
  }
  
  .picture {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }

